<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sigepres</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">19550731</property>
        <property name="show_sql">true</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Otras configuraciones de Hibernate -->
        <mapping class="entities.Appointment"/>
        <mapping class="entities.Attachment"/>
        <mapping class="entities.Customer"/>
        <mapping class="entities.Employee"/>
        <mapping class="entities.EntityType"/>
        <mapping class="entities.MedicalHistory"/>
        <mapping class="entities.Note"/>
        <mapping class="entities.PurchaseHistory"/>
        <mapping class="entities.Role"/>
        <mapping class="entities.Service"/>
        <mapping class="entities.User"/>

    </session-factory>
</hibernate-configuration>